{%extends "main.html"%}
{%block content%}
<div class="home" class="container tab-pane fade in active">
    <div class="text-center center-block">
        <h2>Personality Prediction of Users using Text</h2>
        <h3>This project was created by</h3>
        <h3>SWARNA.M--17TD0679</h3>
        <h3>V.BEENA--17TD0611</h3>
        <h3>S.ANJALLI--17TDo607</h3>
        <h4>With the guidance of Mrs. K.SUDHA </h4>
        <h4>The aim of our project is to prove that LightGBM (light Gradient Boosting Machine)
            is a better alternative than the famous XGBoost(eXtreme Gradient Boosting) in terms of speed.
           And if the hyperparameters are tuned properly, then the accuracy between the two models is 
           almost negligible.
       </h4>
       <h5>Note: The Training data was obtained from Github. The modules and results used here are subjected to change, for futher improvements. </h5>
    </div>
    <div>

</div>
{%endblock%}